<div class="container">
	<div class="row">
			<h1>Editing Pin</h1>
			<%= render 'form', pin: @pin, user_id: current_user.id %>
			<div class='links'>
				<%= link_to 'Show', @pin, :class=>'btn-link' %> |
				<%= link_to 'Back', pins_path, :style=>'color: #BBBBBB'%>
		</div>
	</div>
</div>