<div class="container">
	<div class="row">
		<div class="col-md-5">
			<h1>Editing Pin</h1>
			<%= render 'form', pin: @pin %>
			<div class='links'>
				<%= link_to 'Show', @pin, :class=>'btn-link' %> |
				<%= link_to 'Back', pins_path, :style=>'color: #BBBBBB'%>
			</div>
		</div>
	</div>
</div>